<h1>New Training Session</h1>
<%= form_for([:training_sessions], local: true) do |form| %>
  <%= form.label :date %>
  <%= form.date_field :date %>

  <%= form.label :activity %>
  <%= form.text_field :activity %>

  <%= form.label :duration %>
  <%= form.number_field :duration %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit 'Create Training Session', class: 'btn btn-primary' %>
<% end %>